#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/zmk/keys.h>
/ {
  chosen { zmk,kscan = &kscan0; };
  kscan0: kscan-matrix {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";
    row-gpios
      = <&gpio0 6 GPIO_ACTIVE_HIGH>, <&gpio0 8 GPIO_ACTIVE_HIGH>,
        <&gpio0 17 GPIO_ACTIVE_HIGH>, <&gpio0 20 GPIO_ACTIVE_HIGH>,
        <&gpio0 22 GPIO_ACTIVE_HIGH>, <&gpio0 24 GPIO_ACTIVE_HIGH>,
        <&gpio1 0 GPIO_ACTIVE_HIGH>;
    col-gpios
      = <&gpio0 11 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>, <&gpio1 4 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>,
        <&gpio0 31 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>, <&gpio0 29 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>,
        <&gpio0 2 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>, <&gpio1 15 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>,
        <&gpio1 13 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>;
  };
  leds: leds {
    compatible = "gpio-leds";
    led0: led_0 { label = "LED0"; gpios = <&gpio0 9 GPIO_ACTIVE_LOW>; };
    led1: led_1 { label = "LED1"; gpios = <&gpio0 10 GPIO_ACTIVE_LOW>; };
    led2: led_2 { label = "LED2"; gpios = <&gpio1 1 GPIO_ACTIVE_LOW>; };
    led3: led_3 { label = "LED3"; gpios = <&gpio1 2 GPIO_ACTIVE_LOW>; };
    led4: led_4 { label = "LED4"; gpios = <&gpio1 7 GPIO_ACTIVE_LOW>; };
    led5: led_5 { label = "LED5"; gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; };
  };
};

&uicr {
  nfct-pins-as-gpios;
};
